<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cris.dao.ReplyDao" >

    <!--添加一条新回复-->
    <insert id="addReply" parameterType="reply">
        insert into reply (topic_id, reply_user_id, content, create_time)
        values (#{topicId}, #{replyUserId}, #{content}, #{createTime})
    </insert>

    <!--删除一条回复-->
    <update id="deleteReply" parameterType="long">
        update reply set status = 1 where id = #{id}
    </update>

    <!--删除指定帖子下的所有回复-->
    <update id="deleteAll" parameterType="int">
        update reply set status = 1 where topic_id = #{topicId}
    </update>
</mapper>